@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161719;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


th {
  text-align: left;
}

.disabled-row {
  background-color: #1d1d1d;
  /* pointer-events: none; */
}

.disabled-row :hover {
  background-color: #1d1d1d;
}

.disabled-row .ant-table-cell-row-hover {
  background: #1d1d1d !important;
}

.disabled-icon {
  color: gray !important;
  pointer-events: none;
}